.git
.gitmodules
.github
.gitlab-ci.yml
CHANGELOG*
CODE_OF_CONDUCT*
CODEOWNERS*
CONTRIBUTING*
ISSUE_TEMPLATE*
LICENSE*
MAINTAINERS*
NOTICES*
PULL_REQUEST_TEMPLATE*
README*
SECURITY*
Jekyll
docs
Dockerfile
docker-compose.yml
deployment
k8s
